body * {
    box-sizing: border-box;
}

main{
	display:flex;
	flex-wrap: wrap;
	align-content:space-evenly;
}

section {
	align-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
	
    box-sizing: border-box;
    border: solid 1px gray; 
    width: 50.8vh;
	margin: 10px;
	
}

section button{
	margin: 10px;
}

p{
    padding-right: 10px;
    padding-left: 10px;
}

h2{
    padding-bottom: 10px;
    padding-left: 10px;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/


/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
	img {
		max-width: 100%;
		max-height: 100%;
		}
	
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {

	section{
		width: 30%;
	}
    
}